* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


p, a {
    color: #28282B;
    font-family: 'Satoshi', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    // text-transform: uppercase;
    text-decoration: none;
}